@model ItemDetailsModel

<!--Basket item - Showing quantity and allowing addition/removal.-->
<div class="card">
    <div class="row no-gutters">
        <div class="col-3" >
            <img class="w-100 h-100" style="object-fit: cover;" src="@Model.ImgUrl" alt="@Model.Name">
        </div>
        <div class="col-6">
            <div class="card-block px-1">
                <h5 class="card-title">@Model.Name</h5>
                <div class="btn-group mr-2" role="group" aria-label="@Model.Name Add and Remove">
                    <button type="button" onclick="RemoveFromBasket(@Model.ItemId)" class="btn btn-light font-weight-bolder">-</button>
                    <a class="btn btn-light font-weight-bolder">@Model.Quantity</a>
                    <button type="button" onclick="AddToBasket(@Model.ItemId)" class="btn btn-light font-weight-bolder">+</button>
                </div>
            </div>
        </div>
        <div class="col-3 text-right">
            <h6>£@((Model.Quantity * Model.Price).ToString("#.00")) </h6>
        </div>
    </div>
</div>

