@model Item

<!--Single item on the menu-->
<div class="col-sm-12 col-md-6 col-lg-4 mb-3">
    <div class="card mb-3 h-100">
        <img class="card-img-top" src="@Program.relativePath@Model.ImageUrl" alt="@Model.Name">
        <div class="card-body">
            <h5 class="card-title">
                @Model.Name - £@Model.Price.ToString("0.00")
            </h5>
            <p class="card-text">
                @Model.Description
            </p>
        </div>
        <div></div>
        <div class="">
            <button onclick="AddToBasket(@Model.Id)" class="btn btn-primary btn-block">Add to order</button>
        </div>
    </div>
</div>