@model Item

<!--Item on admins item list.-->
<div class="col-sm-12 col-md-4 col-lg-3 mb-3">
    <div class="card mb-3 h-100">
        <img class="card-img-top" src="@Program.relativePath@Model.ImageUrl" alt="@Model.Name">
        <div class="card-body">
            <h5 class="card-title">
                @Model.Name - £@Model.Price.ToString("0.00")
            </h5>
            <p class="card-text">
                @Model.Description
            </p>
        </div>
        <div></div>
        <div>
            <!--Button to edit the item - RED and marked as withdrawn if withdrawn from sale.-->
            @if (Model.Available == false)
            {
                <button onclick="EditItem(@Model.Id)" class="btn btn-danger btn-block">Withdrawn - Edit Item</button>
            }
            else
            {
                <button onclick="EditItem(@Model.Id)" class="btn btn-primary btn-block">Edit Item</button>
            }
        </div>
    </div>
</div>