<!DOCTYPE html>

@Html.AntiForgeryToken()

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ordering System - @ViewData["Title"] </title>
    <link rel="stylesheet" href="@Program.relativePath/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="@Program.relativePath/css/site.css" />
    <script src="@Program.relativePath/js/site.js"></script>
</head>
<body class="bg-light">

    <header>
        <!--Top navigation bar-->
        <nav class="navbar fixed-top navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom mb-3">
            <div class="container">

                <a class="navbar-brand" asp-area="" asp-controller="Order" asp-action="Index">Order System</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse ">
                    <ul class="navbar-nav flex-grow-0">

                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Order" asp-action="Index">Menu</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Order" asp-action="ViewOrder">View Order</a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2019 -  Ordering System
        </div>
    </footer>

    <!--Body rendered under layout here-->
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!--This exists here so the anti forgery token can be used within javascript calls-->
    <script type="text/javascript">
        function gettoken() {
            var token = '@Html.AntiForgeryToken()';
            token = $(token).val();
            return token;
        }
    </script>

    <script src="@Program.relativePath/lib/jquery/dist/jquery.min.js"></script>
    <script src="@Program.relativePath/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="@Program.relativePath/js/site.js" asp-append-version="true"></script>
</body>
</html>
